.footer{
  background-color: black;
  padding: 25px;
  overflow: hidden;

  position: sticky;
  top: 100%;
}
h1{
  font-size: 20px;



  color:#fff;
}
a{
  text-decoration: none;
  padding: 0px 10px;

  color:#fff;
}
i:hover ,a:hover{
  color: var(--primary-color);
}
