<div class="container-fluid footer">

  <div class="row ">
    <div class="col-lg-4">

    <h1>Good Food <br/> For Good Person</h1>
  </div>
  <div class="col-lg-4">
    <a routerLink="home">Home</a>
    <a routerLink="menu">Menue</a>
    <a routerLink="about">About</a>
    <a routerLink="contact">Contact</a>
  </div>

  <div class="col-lg-4">

    <a href=""> <i class="bi bi-facebook"></i></a>
    <a href=""> <i class="bi bi-whatsapp"></i></a>
    <a href=""> <i class="bi bi-instagram"></i></a>
    <a href=""> <i class="bi bi-twitter"></i></a>

  </div>
</div>
</div>
