<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>
  <p>

<span style="color: darkblue;font-weight:bold"> Biography</span>

Duncan MacDonald is a Canadian contemporary artist, professor and the visual arts program director whose artworks have been exhibited in numerous venues and festivals throughout the world such as Paris Nuit Blanche, PM Gallery, Cambridge Galleries, Mercer Union, Gale Gates, Paved Art, Museu Joinville, Oakville Galleries, Museu de Arte Contemporanea do Ceara, Anna Leonowens, Grimsby Art Gallery, and many others.
<br/><br/>
MacDonald studied at York University and Nova Scotia College of Art and Design University (NSCAD), focusing on interdisciplinary studio practice and sound. He has received distinctions, awards and grants such as a Danish international visiting artist residency, the Canada Council Paris Studio, a Canada Council Research and Production Grant to research found video and audio from various archives throughout Canada, numerous grants from the Ontario Arts Council (OAC), a pre-commercialization grant from Federal Pre-Commercialiation Development grant (FEDDEV), a residency at the Royal College of Art in London, England, and the Established Artist Award for Niagara.
<br/><br/>
Currently, he is working on a large-scale research project entitled MASR: Research in Modern and Contemporary Egyptian Art. The project aims to map Egyptian modern and contemporary art through the production of an exhibition series at the Sharjah Art Gallery, the publication of a series of exhibition catalogs, and a set of artist talks and workshops.
<br/><br/>
This year, MacDonald collaborated with Kurt Campbell (University of Cape Town) and  Michelle Stewart (University of Kwazulu Natal, Durban) as part of two HUSSLab Global South Co-Teaching Fund projects, supported by the Andrew W. Mellon Foundation. Their collaborations draw attention to the opportunities and restrictions technology affords citizens in artistic expression within the Global South.
<br/>
MacDonald is the director of the Visual Arts program at the Department of the Arts.

  </p>

</div>
