<div class="banner">
  <div class="content">
      <h1>Freesh Cooked Food <br/> at your Door</h1>
  <a routerLink="menu" target="_self"  >ORDER NOW<i class="bi bi-arrow-right"></i></a>
  </div>
</div>
<div class="container mt-5 mb-4">
  <div class="step">
    <h1 class="text-center">how to get <span class="light">fresh food</span></h1>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="stepbox">
          <h1>1</h1>
          <p>select food</p>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="stepbox">
          <h1>2</h1>
          <p>fill the details</p>
        </div>

      </div>

      <div class="col-lg-4">
        <div class="stepbox">
          <h1>3</h1>
          <p>your order delivered in minute</p>
        </div>
        </div>

    </div>

  </div>

</div>
<!--foodbox-->

<div class="container mt-4 mb-5">

  <h1 class="text-center">Customer<span class="light">favourites food</span></h1>
  <div class="row">
    <div class="col-lg-3 mt-4" *ngFor="let fd of foodData;index as i">
      <div class="foodbox" *ngIf="i<=3">
        <img src="../../assets/images/{{fd.foodImage}}.jpg"/>
        <h1>{{fd.foodName}}</h1>
        <p>{{fd.foodPrice |currency :"EGP":"£"}}</p>
      </div>

    </div>
    <a routerLink="../menu" target="_self" class="justify-content-center viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
  </div>
</div>
